#menu{
    height: 50px;
    padding:0;
    margin:0;
    background-color: #000000;
    border: 1px solid #CDCDCD;
}
#menu ul, #menu li{
    padding:0;
    margin:0;
}
#menu li{
    list-style: none;
    float: left;
    width: 100px;
    position: relative;
    margin: 0;
    padding:0;
    /*text-align: center;*/
    top : 10px;


}
#menu ul ul li a {
    width: 200px;
    text-align: left;
    padding-left: 10px;

}
#menu li a:hover{
    background-color: red;
}
#menu li a{
    width:100px;
    height: 30px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: white;
}
#menu ul ul{
    position: absolute;
    top: 25px;
    left: 15px;
    visibility: hidden;
}
#menu ul li:hover ul{
    visibility: visible;
}